<% if session[:user_info]&.present? %>
  <div>
    <p>Meno prihláseného používateľa: <span><%= session[:user_info]['actor']['name'] %></span></p>
    <p>Idenfitikátor prihláseného používateľa: <span><%= session[:user_info]['actor']['sub'] %></span></p>
    <p>Meno prihláseného subjektu: <span><%= session[:user_info]['subject']['name'] %></span></p>
    <p>Idenfitikátor prihláseného subjektu: <span><%= session[:user_info]['subject']['sub'] %></span></p>
    <p>SAML idenfitikátor prihláseného subjektu: <span><%= session[:user_info]['subject']['saml_identifier'] %></span></p>

    <%= button_to "Odhlásiť sa", upvs_logout_path, method: :get %>
  </div>
<% else %>
  <div>
    <%= button_to "Prihlásiť cez slovensko.sk", "/auth/saml", method: :post, data: { turbo: false } %>
  </div>
<% end %>
